<h1>Start a conversation with the chatbot</h1>
<div class="container"> hello here's all the stuff</div>
<!-- Part 1: View all projects -->
<!-- YOUR CODE HERE -->
<div class="container">
    <form>
        <input type="text" class="form-control" id="chat-input" placeholder="Who is superman?">
    </form>

</div>



<!-- Part 2: Create new project -->
<!-- YOUR CODE HERE -->
<div >
    <a class="btn btn-primary" href="new">Click here to make a new project</a>
</div>