<div class="wrapper">
	<img class="banner" src="img/Marvel-logo.png" />
	<button class="btn-marvel">Enter</button>
	<!--img src="img/spiderman.png" /-->
</div>
<!--h1>Start a conversation with the chatbot</h1>
<div class="container"> hello here's all the stuff</div>
<div class="container">
    <form>
        <input type="text" class="form-control" id="chat-input" placeholder="Who is superman?">
        <input type="submit" value="send">
    </form>
</div>

<div class ="container">
</div -->