<h1>Start a conversation with the chatbot</h1>
<!-- YOUR CODE HERE -->


<div class ="container">
    <form>
      <div class="form-row">
        <div class="col-10">
          <input type="text" class="form-control" placeholder="First name">
        </div>
        <div class="col">
          <a class="btn btn-primary" href="new">send</a>
        </div>
      </div>
    </form>
</div>

<!-- Part 2: Create new project -->
<!-- YOUR CODE HERE -->
