<h1>View projects</h1>

<!-- Part 1: View all projects -->
<!-- YOUR CODE HERE -->
{{#if projects}}
    {{#each projects}}
        <div>
            <h3>{{title}}</h3>
        </div>
    {{/each}}
{{else}}
    <h3> There are currently no projects :( <h3>
{{/if}}

<!-- Part 2: Create new project -->
<!-- YOUR CODE HERE -->
<div>
    <a class="btn btn-primary" href="new">Click here to make a new project</a>
</div>