@import url('https://fonts.googleapis.com/css?family=Marvel');

html, body {
	background-color: #ea2328 !important;
	width: 100%;
	height: 100%;
	font-family: "Marvel";
	font-size: 16px !important;
}

.banner {
	height: 80%;
}

.wrapper {
	text-align: center;
	height: 100%;
}

.btn-marvel {
	display: inline-block;
	height: 10%;
	width: 50%;
	margin-top: 1%;

	font-size: 3rem;
	border: 3px solid #222222;
	border-radius: 5px;
	background-color: #333333;
	color: #eeeeee;
}

.speech-bubble {
	color: #dddddd;
	background-color: #444444;
	min-width:20px;
	max-width: 75%;
	padding: 10px;
	margin:10px;
	display:inline-block;
}

.speech-row {
	padding:10px;
	margin:10px;
	overflow-wrap: break-word;
}

.txt-marvel {
	padding: 40px;
	border-radius: 50%;
	width: 40%;
	height: 30%;
	top: 30%;
	right: 30%;
	display: none;
}
.vertical-aligner {
  display: flex;
  align-items: center;
  justify-content: center;
}

.self {
	margin-left:auto;
}

.bot {
	margin-right:auto;
}
#chatlog {
	background-color:#dddddd;
	width:50%;
	height:90%;
	padding:10px;
	overflow-y: scroll;

}
.message-box {
	padding:10px;
	width:75%;
}

#send {
	padding:10px;
	background-color:	#428bca;

}

.image-response {
	width: 100%;
}

